html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background: $dark url('../images/low_contrast_linen.png');
    color: $light;
    padding-top: 55px;
    text-align: center;
}

a {
    cursor: pointer;
}

img {
    border: none;
}
