.fdrop {
    background: rgba($dark, 0.25);
    border: 0.75em dashed rgba($light, 0.25);
    border-radius: 1.5em;
    height: 100%;
    padding: 2.0em;
    width: 100%;
}

.fdrop__instructions {
    font-size: 250%;
    text-shadow: 0.05em 0.05em 0 #000;
}

.fdrop__over {
    background: rgba($light, 0.5);
    border: 0.75em dashed $light;
}
