
<div class="toolbar">

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-6 center">
                <div class="toolbar__effect_name">Brightness</div>
                <input type="text"
                    id="slider-brightness"
                    class="slider"
                    ng-model="brightness" />
            </div>

            <div class="col-xs-6 center">
                <div class="toolbar__effect_name">Contrast</div>
                <input type="text"
                    id="slider-contrast"
                    class="slider"
                    ng-model="contrast" />
            </div>
            <!-- div class="col-xs-3">
                <a class="btn-link" ng-click="toggleLayerUiVisibility()">
                    <i class="glyphicon glyphicon-list"></i>
                </a>
            </div>

            <div class="col-xs-6 center">
                {{ info.name }}
            </div>

            <div class="col-xs-3 right">
                <a ng-click="closeImage()"><i class="glyphicon glyphicon-remove"></i></a>
            </div -->

        </div>
        <!-- <div class="row" ng-show="layerUiVisible">
            <div class="col-xs-12">
                <div class="layers__list">
                    <gl-effect></gl-effect>
                </div>
                <div class="layers__toolbar">
                    <button class="btn btn-default pull-right">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>
