

<img src="images/{{ options.selected.image }}" class="preview" style="{{ filter }}"/>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            <div class="preview__ctrl-title">Brightness</div>
            <input type="text"
                class="slider slider-brightness"
                ng-model="brightness"
                data-slider-min="0"
                data-slider-max="5"
                data-slider-step="0.05"
                data-slider-value="1"
                />
        </div>

        <div class="col-sm-6">
            <div class="preview__ctrl-title">Contrast</div>
            <input type="text"
                class="slider slider-contrast"
                ng-model="contrast"
                data-slider-min="0"
                data-slider-max="5"
                data-slider-step="0.05"
                data-slider-value="1"
                />
        </div>
    </div>
</div>
