

<img src="images/{{ options.selected.image }}" class="preview" style="{{ filter }}"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">

            <div class="preview__ctrl-title">Brightness</div>
            <select name="brightnessSelect"
                ng-options="option for option in opts"
                ng-model="brightness">
            </select>

        </div>
        <div class="col-sm-6">

            <div class="preview__ctrl-title">Contrast</div>
            <select name="contrastSelect"
                ng-options="option for option in opts"
                ng-model="contrast">
            </select>
            <!-- rzslider rz-slider-model="contrast"
                rz-slider-floor="0"
                rz-slider-ceil="50"
                rz-slider-always-show-bar="true"></rzslider -->

        </div>
    </div>
</div>
